.form-control, .control-label {
    margin: 20px 0px 10px 0;
}

.mt-10 {
    margin-top: 10px;
}

.pageHeader {
    margin: 5px 10px 10px 10px;
}

nav {
    margin: 5px 0px 5px 0;
}

#ErrorMsg {
    margin-top: 20px;
}

fieldset {
    margin-bottom: 20px;
}

#parUserName {
    font-size: small;
    margin: 10px 0px 0px 0px;
}

.label-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}
