.form-control, .control-label {
    margin: 20px 0px 10px 0;
}

.pageHeader {
    margin: 5px 10px 10px 10px;
}

nav {
    margin: 5px 0px 5px 0;
}

#ErrorMsg {
    margin-top: 20px;
}

fieldset {
    margin-bottom: 20px;
}

#parUserName {
    font-size: small;
    margin: 10px 0px 0px 0px;
}

.label-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-0 {
    margin-bottom: 0px;
}

.bb-none {
    border-bottom: hidden;
}

.ml-10 {
    margin-left: 10px;
}

.progress-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-progress {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.nav-header {
    cursor: default;
    color: dimgray;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
}

/*Side navigation*/
@media (max-width: 768px) {
    .navbar-responsive {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-header {
        text-transform: capitalize;
    }
}
