.form-control, .control-label {
    margin: 20px 0px 10px 0;
}

.btn {
    margin-top: 10px;
}

h2 {
    margin: 5px 20px 5px 20px;
}

nav {
    margin: 5px 0px 5px 0;
}

#ErrorMsg {
    margin-top: 20px;
}

fieldset {
    margin-bottom: 20px;
}

#parUserName {
    font-size: small;
    margin: 10px 0px 0px 0px;
}

.label-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}